.title
  font-family: var(--family-title)
  margin-bottom: 16px
.card
  padding: 16px
  border: 1px solid var(--yellow)
  background-color: var(--white)
  width: 100%
  box-sizing: border-box
  display: block
  border-radius: 8px
  margin: 16px 0
  color: var(--black)
  text-decoration: none
.cardTitle
  font-family: var(--family-title)
  margin-bottom: 12px
.cardContent
  text-align: left
  line-height: 1.5em
.cardFooter
  margin-top: 16px
  text-align: right
  font-weight: 800
  strong
    font-family: var(--family-title)
    margin: 0 4px
