.navbar
  background-color: var(--dark-gray)
  color: var(--white)
  font-family: var(--family-title)
  display: flex
  width: 100%
  height: 32px
  padding: 16px
  align-items: center
  justify-content: center
  box-sizing: border-bo
.mainContent
  padding: 16px
.card
  padding: 16px
  border: 1px solid var(--yellow)
  width: 100%
  box-sizing: border-box
  display: block
  border-radius: 8px
  margin: 16px 0
  color: var(--black)
  text-decoration: none
.title
  font:
    family: var(--family-title)
    size: 24px
  margin-bottom: 16px
  text-align: center
  line-height: 1.25em
.description
  text-align: center
  line-height: 1.25em
.subtitle
  font-family: var(--family-title)
  line-height: 1.25em
  margin: 32px 0 16px
.code
  .subtitle
  text-align: center
  .codeHash
    color: var(--orange)
    font:
      family: var(--family-title)
      size: 32px
    margin-bottom: 16px
    line-height: 1.25em
    text-align: center
    display: block
.partner
  .partnerName
    font:
      family: var(--family-title)
      size: 14px
  & > *
    margin-bottom: 8px
  address
    line-height: 1.25em
.rules
  p
    line-height: 1.25em
    margin-bottom: 12px